body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 1rem;
	font-weight: 400;
	line-height: 1.5em;
    color: #212529;
	text-align: left;
    background: #ffffff;
}
button {
	display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem
}

img {
    vertical-align: middle;
    border-style: none;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}

.header__produce {
	min-height: 70px;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	margin-bottom: 3px;
}

.header__produce-logo {
	display: block;
}

.header__produce-logo a {
	text-decoration: none;
}

.header__produce-logo__detail {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
    margin-left: -15px;
	font-weight: 500;
	line-height: 1.2;
	margin-top: -18px;
	margin-bottom: 18px;
}

.header__produce-logo__detail h4 {
	margin-top: 32px;
	margin-left: 8px;
	font-size: 2.5rem;
	align-items: center;
}

.header__produce-right {
	display: flex;
	align-items: center;
	float: right;
}

.header__produce-right div {
	margin: 0 1rem;
}

.header__product-time p {
    display: block;
	margin-top: 10rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* navbar */

.header__navbar {
	width: 100%;
	justify-content: space-between;
	background-color: #162e44;
}



.header__navbar-list {
	display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
	display: flex;
	justify-content: space-evenly;
}

.header__navbar-list-item a {
	font-size: 1.25rem;
	margin: 0 1rem;
    position: relative;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

.header__navbar-list-item a:hover {
    background: #304559;
    color: #ffffff;
}
/* 
.sticky {
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 255);
    box-shadow: 1px 1px 5px #999;
    color: #666 !important;
    z-index: 99; 
} */
/* end navbar */

/* background slider */

.container__background-slide {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container__bd-indicator-item {
	transform: none;
	position: relative;
	float: left;
	width: 100%;
	margin-right: -100%;
}

.container__bd-indicator-item img {
	height: 100%;
	width: 100%;
	vertical-align: middle;
    border-style: none;
} 

.container__bd-indicator-caption {
	bottom: 90px;
	position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}

.container__bd-indicator-caption h6 {
	font-size: 1.3rem;
    text-shadow: 2px 2px 4px #999;
    animation: moveLiner__right 1s ease-in;
}


.container__bd-indicator-caption h1 {
	font-size: 2.5rem;
    text-shadow: 2px 2px 4px #999;
    animation: moveLiner__bottom 1s ease-in;
}

.contaner__background-control-prev {
	left:0;
}

.contaner__background-control-prev,
.contaner__background-control-next {
	left: 0;
	position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.contaner__background-control-prev-icon,
.contaner__background-control-next-icon {
	display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}

/* .sr-only {
	position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
} */

.contaner__background-control-next {
	right: 0;
}

/* end background slider */



.box, .form {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
.contact {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.box {
    width: 230px;
    height: 210px;
    background-color: #503434;
    border-radius: 5%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.box h3 {
    color: rgb(206, 206, 43);
    text-align: center;
}
.box i {
    font-size: 20px;
    width: 35px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(206, 206, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-top: 30px;
}
.box p {
    color: white;
    display: flex;
    justify-content: center;
}
.form {
    margin-top: 50px;
    height: 200px;
}
.input {
    margin-top: 25px;
    padding-left: 40px;
}
.input_left {
    width: 310px;
    height: 100px;
    margin-left: 150px;
    float: left;
}
.input_left input {
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
}
.input_right {
    width: 400px;
    float: right;
    margin-right:200px;
}
.input_left input, .input_right textarea{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057; 
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}
.input_right textarea {
    width: 250px;
    height: 90px;
    padding-left: 10px;
}
.submit {
    margin-top: 10rem;
    text-align: center;
}
.submit input{
    width: 100px;
    height: 30px;
    background-color:#503434;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.form p {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}
input [type="submit"] {
    width: 80px;
    height: 30px;
}


/* footer */
.footer {
    text-align: center;
    background-color: #162e44;
	color: #ffffff;
    width: 100%;
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 8rem;
}

.footer__contactus h3{
	font-size: 1.75rem;
	margin: 0 auto;
}

.footer__contactus-list-item{
	list-style-type: none;
	margin: 5px 0;
}

.footer__contactus-list li a{
	color: #ffffff;
	text-decoration: none;
	margin: 0 auto;
}

.footer__bottom {
    display : block;	
	position: absolute;
	width: 880px;
	height: 10px;
	bottom: 0px;
	left: 0px;	
	background: url(./img/templatemo_footer.jpg) no-repeat;
}

.footer__list li {
    padding: 0 10px;
	display: inline;
	border-right: 1px solid #ffffff;
}

.footer__list li a {
	color: #ffffff;
	font-size: 14px;
}

.footer__list .last {
	border-right: none;
}  
