
.box, .form {
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
}
.contact {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}
.box {
    width: 150px;
    height: 120px;
    background-color: #503434;
    border-radius: 5%;
    padding-top: 10px;
    padding-left: 40px;
}
.box h3 {
    color: rgb(206, 206, 43);
}
.box i {
    font-size: 20px;
    width: 35px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(206, 206, 43);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box p {
    color: white;
}
.form {
    margin-top: 50px;
    height: 200px;
}
.input {
    margin-top: 25px;
    padding-left: 40px;
}
.input_left {
    width: 310px;
    height: 100px;
    
    float: left;
}
.input_left input {
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
}
.input_right {
    width: 400px;
    float: right;
}
.input_left input, .input_right textarea{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057; 
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}
.input_right textarea {
    width: 250px;
    height: 90px;
    padding-left: 10px;
}
.submit {
    padding-top: 80px;
    padding-left: 560px;
}
.submit input{
    width: 100px;
    height: 30px;
    background-color:#503434;
    border: none;
    border-radius: 15px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.form p {
    font-style: italic;
    font-weight: bold;
    font-size: 14px;

}
input [type="submit"] {
    width: 80px;
    height: 30px;
}

